/* Ask Section */
.ask {
  padding: var(--spacing-xl) var(--spacing-l);
  text-align: left;
}

.ask__label {
  display: block;
  font-size: var(--font-size-subheading);
  margin-bottom: var(--spacing-l);
}

.ask__input-wrapper {
  position: relative;
}

.ask__input {
  width: 100%;
  border: 1px solid var(--colour-line);
  border-radius: var(--border-radius-s);
  background: var(--colour-background-dark);
  color: var(--colour-text-light);
  padding: var(--spacing-l);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  line-height: 1.5;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
}

.ask__button-example {
  position: absolute;
  z-index: 2;
  right: var(--spacing-l);
  top: var(--spacing-l);
  background: rgba(7, 12, 9, 0.7);
  border: 1px solid var(--colour-line);
  color: var(--colour-text-light);
  padding: 4px 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-family-body);
}

.ask__button-example.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.ask__button-example:hover {
  border-color: var(--colour-primary);
  color: var(--colour-primary);
}

.ask__footer {
  margin-top: var(--spacing-l);
}

@media (min-width: 800px) {
  .ask__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ask__char-count {
  font-size: var(--font-size-small);
  font-style: italic;
}

.ask__char-count.has-error {
  color: var(--colour-secondary);
}

.ask__loading {
  display: none;
}

.ask__loading.is-loading {
  display: block;
}
