.main {
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  background: var(--colour-background-white);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--colour-line);
}
